<% include partials/header %>


<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
					Home Page
			</h1>
			<button class="button is-primary">Login</button>
			<div class="input-component">
				<input class="input" type="text" placeholder="Text input">
			</div>
		</div>
	</div>
</section>

<% include partials/footer %>